body {
	background-color: black;
	color: white;
	font-family: ubuntu, sans-serif;
        overflow-y: hidden;
}

#ticker1 {
	font-size: 18pt;
	text-transform: uppercase;
	height: 1em;
}

#ticker2 {
	font-size: 18pt; 
	text-transform: uppercase;
	height: 1em;
}

.ticker ul, li {
	color: white;
	display: inline;
	text-decoration: none;
	overflow: auto;
	white-space: nowrap;
}

.ticker {
	border-top: 5px;
	width: 100%;
	font-family: ubuntu, sans-serif;
	font-size: 18pt;
	text-transform: uppercase;
}

.tweet_text a {
	color: white;
}

.tweet {
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: linear;
	-moz-animation-duration:10s;
	-moz-animation-name: scroll;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-webkit-animation-duration:10s;
	-webkit-animation-name: scroll;
} 
#tickers {
	position: absolute;
	background-color: black;
	bottom: 3px;
	left: 0px;
	margin-top: 1em;
	width: 100%;
}

#highlights {
	text-align: center;
	height: 400px;
}

.highlight {
	font-size: 24pt;
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
	width: 30%;
	height: 350px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	overflow: hidden;
}

.highlightGradiant {
	background-image: linear-gradient(bottom, rgb(255,255,255) 12%, rgb(97,97,97) 56%);
	background-image: -o-linear-gradient(bottom, rgb(46,46,46) 12%, rgb(97,97,97) 56%);
	background-image: -moz-linear-gradient(bottom, rgb(46,46,46) 12%, rgb(97,97,97) 56%);
	background-image: -webkit-linear-gradient(bottom, rgb(255,255,255) 12%, rgb(97,97,97) 56%);
	background-image: -ms-linear-gradient(bottom, rgb(46,46,46) 12%, rgb(97,97,97) 56%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.12, rgb(50,50,50)),
		color-stop(0.56, rgb(30,30,30))
	);
}

.highlightHeader {
	-moz-border-top-left-radius: 15px;
	-moz-border-top-right-radius: 15px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	height: 1.2em;
}

.red {
	background-color: #c33;
}

table.calendar {
	width: 100%;
}

#calendar {
	background-color: #333;
}

.calendar tr {
	border-width: 3px;
	border-bottom-style: solid;
	border-color: black;
	font-size: 12pt;
}

.date {
	padding-left: 0.5em;
	width: 3em;
	color: #888;
}

.highlightContent {
	text-align: left;
	font-size: 14pt;
}

#comingup {
	text-transform: uppercase;
	text-align: center;
	font-size: 28pt;
	color: #666;
	height: 6em;
	padding-left: 10%;
	padding-right: 10%;
}

#comingup {
	margin-top: 0.25em;
	margin-bottom: 0.5em;
}

#comingup b {
	color: white;
	font-weight: normal;
}

#stats {
	text-align: center;
	width: 90%;
	padding-left: 5%;
	margin-top: 1em;
}

#stats ul {
	width: 100%;
	margin: 0;
	padding: 0;
	text-align: left;
}

#stats li {
	display: inline-block;
	text-align: left;
	text-transform: uppercase;
	font-size: 30pt;
	background-color: #222;
	width: 32%;
	padding-left: 0px;
	margin: 2px;
}

.chart {
	text-align: center;
	height: 200px;
	vertical-align: bottom;
}

.columnContainer {
	text-align: center;
	display: inline-block;
	width: 19%;
}

.columnHeader {
	font-family: ubuntu, sans-serif;
	font-size: 18pt;
	color: #888;	
}

.header_A {
	color: white;
}

.header_B {
	color: #c6daff;
}

.columnTitle {
	font-family: 'ubuntu', sans-serif;
	font-size: 18pt;
	text-transform: uppercase;
}

.column {
  text-align: center;
  border-width: 3px;
  border-style: solid;
  border-bottom: 0px;
  width: 80%;
  margin-left: 10%;

  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
}

#column_1 {
	background: #FABD15;
	border-color: #FABD15;
    border-left-color: #fed615;
	border-top-color: #fed615;
	border-right-color: #d5a110;
}

#column_2 {
	background: #49C817;
	border-color: #49C817;
    border-left-color: #4fdd15;
	border-top-color: #4fdd15;
	border-right-color: #38a410;	
}

#column_3 {
	background: #FD3B15;
	border-color: #FD3B15;
    border-left-color: #ff4c21;
	border-top-color: #ff4c21;
	border-right-color: #cd2e14;		
}

#column_4 {
	background: #7554BF;
	border-color: #7554BF;
	border-left-color: #835dd7;	
	border-top-color: #835dd7;	
	border-right-color: #6345a5; 
}

#column_5 {
	background: #107CF8;
	border-color: #107CF8;
	border-left-color: #1288ff;
	border-top-color: #1288ff;	
    border-right-color: #3368d7;	
}

#column_6 {
	background: #d8d309;
	border-color: #d8d309;
	border-left-color: #ede80a;
	border-top-color: #ede80a;	
    border-right-color: #beba06;	
}

#lastUpdated {
	font-size: 12pt;
	width: 100%;
	text-align: right;
	color: #444;
}

.statusOK {
	color: #49C817;
}

.statusCRITICAL {
	color: #FD3B15;
}

.statusWARNING {
	color: #FABD15;
}

.statusUNKNOWN {
	color: #ff0;
}

.date {
	text-align: left;
}

.event {
	text-align: left;
	overflow: none;
	height: 1em;
}
