body {
	background-color: black;
	color: white;
	font-family: ubuntu;
}

#ticker1 {
	font-size: 24pt;
	text-transform: uppercase;
	height: 1em;
}

#ticker2 {
	font-size: 18pt; 
	text-transform: uppercase;
	height: 1em;
}

.ticker ul, li {
	color: white;
	display: inline;
	text-decoration: none;
	overflow: auto;
	white-space: nowrap;
}

.ticker {
	border-top: 5px;
}

.tweet_text a {
	color: white;
}

#tickers {
	position: absolute;
	bottom: 0px;
	left: 0px;
	margin-top: 1em;
}

#highlights {
	text-align: center;
	vertical-align: center;
	margin-top: 1em;
	margin-bottom: 1em;
}

.highlight  {
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
	width: 30%;
	height: 200px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	
	background-image: linear-gradient(bottom, rgb(255,255,255) 12%, rgb(97,97,97) 56%);
	background-image: -o-linear-gradient(bottom, rgb(46,46,46) 12%, rgb(97,97,97) 56%);
	background-image: -moz-linear-gradient(bottom, rgb(46,46,46) 12%, rgb(97,97,97) 56%);
	background-image: -webkit-linear-gradient(bottom, rgb(255,255,255) 12%, rgb(97,97,97) 56%);
	background-image: -ms-linear-gradient(bottom, rgb(46,46,46) 12%, rgb(97,97,97) 56%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.12, rgb(50,50,50)),
		color-stop(0.56, rgb(30,30,30))
	);
}

#comingup {
	text-transform: uppercase;
	padding-bottom: 0.5em;
	text-align: center;
	font-size: 18pt;
	color: #666;
}

#comingup {
	margin-top: 1em;
	margin-bottom: 1em;
}

#comingup b {
	color: white;
	font-weight: normal;
}

#stats {
	text-align: center;
	width: 100%;
	margin-top: 1em;
	margin-bottom: 1em;
}

#stats table {
	width: 100%;
}

#stats td {
	text-align: left;
	text-transform: uppercase;
	font-size: 18pt;
	border: 5px solid black;
	padding: 5px;
	background-color: #222;
}

#stats {
	margin-bottom: 1em;
}

.chart {
	text-align: center;
	height: 200px;
}

.columnContainer {
	text-align: center;
	display: inline-block;
	width: 19%;
	vertical-align: bottom;
}

.columnTitle {
	font-family: 'ubuntu';
	font-size: 18pt;
	text-transform: uppercase;
}

.column {
  text-align: center;
  border-width: 3px;
  border-style: solid;
  border-bottom: 0px;
  width: 80%;
  margin-left: 10%;

  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
}

#column_1 {
	background: #FABD15;
	border-color: #FABD15;
    border-left-color: #fed615;
	border-top-color: #fed615;
	border-right-color: #d5a110;
}

#column_2 {
	background: #49C817;
	border-color: #49C817;
    border-left-color: #4fdd15;
	border-top-color: #4fdd15;
	border-right-color: #38a410;	
}

#column_3 {
	background: #FD3B15;
	border-color: #FD3B15;
    border-left-color: #ff4c21;
	border-top-color: #ff4c21;
	border-right-color: #cd2e14;		
}

#column_4 {
	background: #7554BF;
	border-color: #7554BF;
	border-left-color: #835dd7;	
	border-top-color: #835dd7;	
	border-right-color: #6345a5; 
}

#column_5 {
	background: #107CF8;
	border-color: #107CF8;
	border-left-color: #1288ff;
	border-top-color: #1288ff;	
    border-right-color: #3368d7;	
}

#column_6 {
	background: #d8d309;
	border-color: #d8d309;
	border-left-color: #ede80a;
	border-top-color: #ede80a;	
    border-right-color: #beba06;	
}